body{
    background-color: rgb(107, 140, 148);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

header{
    height: 50px;
    width: 100%;
    align-items: center;
    background-color:  rgb(255, 255, 255);

}


footer{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(224, 221, 221);
    

}

footer a{
    color: black;
}

/* presentacion */
.divPresentacion {
    background-color: rgb(224, 221, 221);
    
    height: 350px;
    width: 100%;
    border-radius: 0.5%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    
}

.divPresentacion h1{
    color: rgb(41, 37, 37);
    margin: 0px;
    
}

.divPresentacion p{
    color: rgb(0, 0, 0);
    margin: 0px;
}



/* galeria */

.galeria{
    margin: 10px 0px 10px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    width: 600px;
    
}

.proyecto{
    background-color: rgb(197, 199, 181);
    margin: 0px 0px 10px 0px;
    border-radius: 2%;
    min-height: 200px;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    
}
.proyecto:hover{
    background-color: rgb(197, 191, 191);
}


a{
    text-decoration: none;
}

.proyecto h3{
    font-size: 30px;
}

.textos{
    height: 100%;
    color: rgb(20, 16, 16);
    
    
}


